#contentArea, #crumbBar, #chPM, #chS {
 color: #5c5c5c;                             /* fgReg */
 background: #4f6067;                        /* bg0 */
 font-family: Helvetica, sans-serif;
 font-size: 10pt;
}


h1 {
 color: #232323;                        /* fgBold */
 font-size: 200%;
 margin: 0em;
}

h2 {
 color: #232323;                        /* fgBold */
 font-size: 125%;
 margin-bottom: 0em
}

h3 {
 color: #232323;                        /* fgBold */
 font-weight: bold;
 font-size: 100%;
 margin: 0em;
 
 
}

h3.triangle {
   		
}

address {
 margin-top: 1ex;
 padding-top: 1ex;
 color: black;
 /*border-top: thin dotted;*/
}

li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#homepage A:visited, #homepage A:link, #homepage A:active {
  color: #313b3f;                            /* link */
  text-decoration:underline;
}


/* definition lists */
#homepage dt { font-weight: bold
   
   ; margin-bottom: 1.25ex
   }

#homepage dd { margin-bottom: 2.5ex; padding-left:1em }

#homepage dd p { margin-top: 1.25ex
   ; margin-bottom: 1.25ex
   }

#homepage p {
	margin-bottom: 1ex;
}

#human-factors, #education, #programming, #theses, #paper-talks, #panels, #workshops, #invited-talks, #doctoral, #education-talks  {
	display:none;
	margin:0px 20px 0px 20px;
}

/* Curved cutout Borders*/

.curved {
  background:transparent; 
  }
.curved h1, .curved p {
  margin:0 10px;
  }
.curved h1 {
  font-size:2em; 
  color:#CCCCCC;
  }
.curved p {
  padding-bottom:0.5em;
  }
.curved .b1, .curved .b2, .curved .b3, .curved .b4 {
  display:block; 
  overflow:hidden; 
  height:1px;
  font-size:1px;
  }
.curved .b2, .curved .b3, .curved .b4 {
  background:#F0F0F0; 
  border-left:1px solid #CCCCCC; 
  border-right:1px solid #CCCCCC;
  }
.curved .b1 {
  margin:0 5px; 
  background:#CCCCCC;
  }
.curved .b2 {
  margin:0 3px; 
  }
.curved .b3 {
  margin:0 2px;
  }
.curved .b4 {
  margin:0 1px; 
  height:2px; 
  }
.curved .boxcontent {
  display:block; 
  background:#F0F0F0; 
  border:0 solid #CCCCCC; 
  border-width:0 1px;
  padding:10px 10px 10px 10px;
  overflow:hidden;
  }

.curved h2.curved-heading {
	background:transparent;
	margin-left:7px;
	margin-top:10px;
	color:#CCCCCC;
	padding-bottom:0px;
}


.curved-inner {
  background:transparent; 
  }
.curved-inner h1, .curved-inner h2, .curved-inner p {
  margin:0 5px;
  }
.curved-inner h1 {
  font-size:2em; 
  color:#CCCCCC;
  }
.curved-inner h2 {
  font-size:1.3em; 
  color:#CCCCCC;
  }

.curved-inner .b1-inner, .curved-inner .b2-inner, .curved-inner .b3-inner, .curved-inner .b4-inner {
  display:block; 
  overflow:hidden; 
  height:1px;
  font-size:1px;
  }
.curved-inner .b2-inner, .curved-inner .b3-inner, .curved-inner .b4-inner {
  background:#F8F8F8; 
  border-left:1px solid #CCCCCC; 
  border-right:1px solid #CCCCCC;
  }
.curved-inner .b1-inner {
  margin:0 10px; 
  background:#CCCCCC;
  }
.curved-inner .b2-inner {
  margin:0 8px; 
  }
.curved-inner .b3-inner {
  margin:0 7px;
  }
.curved-inner .b4-inner {
  margin:0 6px; 
  height:2px; 
  }
.curved-inner .boxcontent-inner {
  display:block; 
  background:#F8F8F8; 
  border:0 solid #CCCCCC; 
  border-width:0 1px;
  margin:0 5px;
  padding:10px 10px 10px 10px;
  overflow:hidden;
}
  
.research {
	margin-left:150px;
	height:130px;
}

.research-image {
	float:left;
	height:130px;
}
  
  
  
.curved-name {
  background:transparent; 
  }
.curved-name h1, .curved-name p {
  margin:0 10px;
  }
.curved-name h1 {
  font-size:2em; 
  color:#CCCCCC;
  }
.curved-name p {
  padding-bottom:0.5em;
  }
.curved-name .b1-name, .curved-name .b2-name, .curved-name .b3-name, .curved-name .b4-name {
  display:block; 
  overflow:hidden; 
  height:1px;
  font-size:1px;
  }
.curved-name .b2-name, .curved-name .b3-name, .curved-name .b4-name {
  background:#F8F8F8; 
  border-left:1px solid #CCCCCC; 
  border-right:1px solid #CCCCCC;
  }
.curved-name .b1-name {
  margin:0 205px; 
  background:#CCCCCC;
  }
.curved-name .b2-name {
  margin:0 203px; 
  }
.curved-name .b3-name {
  margin:0 202px;
  }
.curved-name .b4-name {
  margin:0 201px; 
  height:2px; 
  }
.curved-name .boxcontent-name {
  display:block; 
  background:#F8F8F8; 
  border:0 solid #CCCCCC; 
  border-width:0 1px;
  padding:10px 10px 10px 10px;
  margin-left:200px;
  margin-right:200px;
  overflow:hidden;
  }

  
.ac-container {

			margin: 0px 5px 0px 5px;
}

.ac-container label{
    font-family: wf_SegoeUI,"Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Helvetica","Arial","sans-serif";
    padding: 0px 10px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #313b3f;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 30px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    border-radius: 5px;
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #f0f0f0;
        color: #313b3f;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 4px;
    background: url(images/arrow_down_gray.png) no-repeat center center;  
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
.ac-container input:checked + label:hover:after{
    background-image: url(images/arrow_up_gray.png);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
 
.ac-container input{
    display: none;
}

.ac-container article{
    margin-top: 10px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    
}

.ac-container article p{
    font-style: italic;
    color: #313b3f;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article.ac-theses{
    height: 140px;
}
.ac-container input:checked ~ article.ac-programming{
    height: 350px;
}
.ac-container input:checked ~ article.ac-hase {
    height: 2200px;
}

.ac-container input:checked ~ article.ac-education {
    height: 550px;
}
